.about-content {
  color: white;
  text-align: justify;
}

.about-content text, .about-content text span, .card p,
.about-content .contact p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.about-content a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #e4c9a6;
}

.about-content a:hover {
  opacity: 0.8;
}

.about-content img {
  border-radius: 50%;
}

@media screen and (min-width: 1001px) {
  .about-content {
    margin-left: 180px;
    margin-right: 28px;
    margin-top: 80px;
    padding: 5vh;
  }
  .about-text {
    max-width: 40%;
  }
  .about-content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-content .picture {
    max-width: 40%;
    margin: auto;
  }
  .about-content img {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .about-content {
    padding: 40px;
    margin-top: 100px;
  }
  .about-content .right-card {
    margin-top: 50px;
  }
  .about-content .picture {
    display: flex;
    justify-content: center;
    margin: 32px auto;
  }
  .about-content img {
    height: 200px;
  }
  .about-content .contact {
    margin: 32px auto;
    padding-top: 32px;
    width: 200px;
    text-align: center;
  }
}
