.about-content {
  color: white;
  text-align: justify;
}

.about-content text, .about-content text span, .card p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.about-content text a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #e4c9a6;
}

.about-content img {
  border-radius: 50%;
}


@media screen and (min-width: 1001px) {
  .about-content {
    margin-left: 180px;
    margin-right: 28px;
    margin-top: 80px;
    padding: 5vh;
  }
  .about-text {
    max-width: 55%;
  }
  .about-content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-content p {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    transform: rotate(-10deg);
    position: relative;
    top: -30px;
    left: 65%;
    background-color: transparent;
    align-items: flex-end;
  }
  .about-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .about-content .picture {
    margin-left: 200px;
    /* margin-bottom: 80px; */
  }
  .about-content img {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .about-content {
    padding: 40px;
    margin-top: 100px;
  }
  .about-content p {
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
    margin: 3vh 0;
    background-color: transparent;
  }
  .about-content .right-card {
    margin-top: 50px;
  }
  .about-content .picture {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .about-content img {
    height: 250px;
  }
}
