.home-content {
  /* margin-top: 22vh;
  margin-left: 10vh; */
  color:#FFFFFF;
  /* display: flex; */
}

.home-content .presentation {
  font-weight: 600;
  font-size: 66px;
  margin-bottom: 30px;
}

.home-content .presentation span {
  color:#A58965;
  font-size: 70px;
}

.home-content .detail {
  font-size: 18px;
  color: #ADADAD;
  margin-bottom: 90px;
}

.home-content .contact a {
  text-decoration: none;
  color:#e4c9a6;
  border: 1px solid #e4c9a6;
  border-radius: 1px;
  padding: 14px 72px;
  background-color:  #1F1F1F;
}

.home-content .contact a:hover {
  color:white;
  border: 2px solid   #A58965;
  background-color:  #A58965;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .home-content {
    margin-left: 200px;
    margin-top: 200px;
    padding-left: 6vh;
    align-items: center;
  }
  .home-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .tag {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  transform: rotate(-10deg);
  position: relative;
  top: 0px;
  left: 30px;
  background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    padding: 40px;
    margin-top: 100px;
    justify-content: center;
  }
  .home-content .presentation {
    font-size: 50px;
  }
  .home-content .detail {
    font-size: 16px;
  }
  .tag {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    transform: rotate(-8deg);
    background-color: transparent;
    margin-top: 100px;
    margin-left: 110px;
    width: fit-content;
    }
}
