@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.project-card-text h2 {
  font-size: 26px;
  font-weight: 400;
  /* background-color: #b59264; */
  background-color:   #ecddc8;
  color: #b59264;
  font-family: 'Caveat Brush', cursive;
  /* text-shadow: 0 2px 5px rgba(0,0,0,0.6); */
}

.project-card-text {
  background-color:  #ecddc8;
  color: white;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}


.project-card {
  box-shadow: 0 5px 20px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

/* .projects-container {
  margin-top: 80px;
} */



.projects-content .close {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 20px;
}

.projects-content .close:hover {
  color: grey;
}

.carousel-wrapper .project-title h2 {
  color: white;
  font-family: 'Caveat Brush', cursive;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}


.carousel .slide .project-picture {
  width: 60%;
}

.carousel .thumbs-wrapper, .carousel-status, .control-dots {
  display: none;
}

.projects-container .carousel.carousel-slider .control-arrow:hover {
  background-color: transparent;
}



.project-slide .icons svg {
  background-color: transparent;
  width: 24px;
  margin-right: 10px;
}

.project-slide .icons a, .project-slide .icons span {
  color:white;
  text-decoration: none;
  line-height: 2.4;
}

.project-slide .icons a:hover {
  color:#deb98a;
}

  @media screen and (min-width: 481px) {
  .projects-content {
    margin-left: 180px;
    margin-top: 80px;
    margin-right: 28px;
    padding: 5vh;
    height: 80vh;
  }

  .projects-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .carousel-wrapper {
    /* width: 60%; */
    height: 500px;
    align-content: center;
    margin: 0 auto;
    /* margin-top: -90px; */
  }
  .carousel-wrapper .project-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-slide .carousel-root {
    width: 400px;
  }
  .project-slide .project-text {
    color: rgb(224, 220, 220);
    width: 400px;
    margin-left: 50px;
    line-height: 1.4;
    font-size: 15px;
    text-align: justify;
  }
  .project-slide .icons {
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
  }
  .projects-content .close {
    margin-left: 850px;
    justify-content: flex-start;
  }
  .project-card-text-hover {
    background-color: #d7b78d;
    /* background: linear-gradient(.45turn, #f1efec, 2%, #b59264); */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  }

  .project-card-text-hover h2 {
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #ecddc8;
  }

  .projects-content {
    height: 100vh;
  }


}

@media screen and (max-width: 480px) {
  .projects-content {
    padding: 40px;
    margin-top: 100px;
  }

  .carousel-wrapper {
    /* margin-top: -50px; */
    margin-bottom: 50px;
  }

  .project-card {
    margin-bottom: 20px;
  }

  .project-slide .project-text {
    color: rgb(224, 220, 220);
    line-height: 1.2;
    font-size: 12px;
    text-align: justify;
    margin-top: 30px;
  }
  .project-slide .icons {
    margin-top: 30px;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 30px;
  }
  .projects-content .close {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
