.top-navbar{
  width: 100%;
}

.top-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #131313;
  color: white;
  padding: 0 12px;
  height: 10vh;
}

.svg-inline--fa {
  color: white;
  background-color: #131313;
  font-size: 22px;
}

.top-navbar-logo, .top-navbar-logo div {
  background-color:  #131313;
}

.top-navbar .familyName {
  color:  #A58965;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color:  #131313;
  padding-bottom: 0;
}

.top-navbar .firstName {
  color:  white;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color:  #131313;
}

.top-navbar a {
  text-decoration: none;
}

.dropdown-list {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 10vh;
  background-color: #131313;
  padding: 0;
  margin: 0;
  height: 90vh;
}

.dropdown-list ul {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #131313;
}

.dropdown-list a, .dropdown-list li {
  padding: 30px 0;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  background-color:  #131313;
  color: #ADADAD;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-list a:hover {
  color: #e4c9a6;
}
