@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* all */
* {
  background-color: #1F1F1F;
  font-family: 'Montserrat', sans-serif;
}

.content {
  margin-left: 30vh;
  margin-right: 30vh  ;
  margin-top: 14vh;
  padding: 5vh 5vh;
}

/* homepage */
.home {
  margin-top: 6vh;
  color:#FFFFFF;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.home .presentation {
  font-weight: 600;
  font-size: 64px;
  margin: 0;
}

.home .presentation span {
  color:#A58965;
  font-size: 66px;
}

.home .detail {
  font-size: 18px;
  color: #ADADAD;
  margin-bottom: 80px;
}

.home .contact a {
  text-decoration: none;
  color:#FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 1px;
  padding: 12px 48px;
  background-color:  #1F1F1F;
}

.home .contact a:hover {
  color:#e4c9a6;
  border: 2px solid #e4c9a6;
  font-weight: bolder;
}

.home img {
  max-width: 50vh;
  border-radius: 60%;
  opacity: 0.5;
}

/* Navbar */
.navbar {
  height: 100%;
  width: 20vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #131313;
  padding: 0;
  margin: 0;
}
.navbar li, .navbar a {
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  background-color:  #131313;
  color: #ADADAD;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.navbar a:hover {
  color: #e4c9a6;

}

.navbar .logo {
  background-color:  #000000;
  padding: 40px 0;
}

.navbar p {
  margin: 0;
  background-color:  #000000;
  font-size: 14px;
  color: #616060;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar .familyName {
  color:  #A58965;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar .firstName {
  color:  white;
  font-weight: 400;
  font-size: 26px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* other pages */
.card {
  color: white;
  text-align: justify;
  max-width: 60%;
}

.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .title h1 {
  color: #A58965;
  font-size: 48px;
}

.card .title p {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  transform: rotate(15deg);
  position: relative;
  top: -100px;
}

.card text, .card span, .card p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.card text a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #e4c9a6;
}

.card text span {
  text-decoration: blink;
}

/* form */

.contact-form {
  width:  80%;
}

.name-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, textarea {
  background-color: #333333;
  border: 0;
  margin: 10px 0;
  box-sizing:border-box;
  padding: 0px 10px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
}

.name-email input {
  width: 48%;
}

.email-content textarea {
  height: 140px;
}
